
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

buld/
cmd/fakessh/fakessh

tmp/
temp/
.DS_Store

*.log
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.project
.classpath
.settings/
*.swp
*.swo

.cache/
.go/
.terraform/
dist/
keys/

.env
.env.local

coverage.txt
profile.out 